html {
    box-sizing: border-box;
}

* {
  --background-color-1: #FAF9FA;
  --background-color-2: #777677;
  --background-color-3: #909BB1;
  --background-color-4: #67748B;
  --background-color-5: #525057;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    font-family: 'Poppins', sans-serif;
}

.main_container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    background-color: red;
}

a {
    text-decoration: none !important;
    color: #333; /* Establecer el color predeterminado para los enlaces */
  }
  
a:hover {
    color: #555; /* Cambiar el color al pasar el mouse */
  }

ul, ol {
    list-style: none !important;
    padding: 0;
    margin: 0;
  }

/*  Nav Bar   */
