html {
    box-sizing: border-box;
}

*, *:before, *:after {

box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    font-family: 'Poppins', sans-serif;
}

.main_container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    background-color: red;
}

a {
    text-decoration: none !important;
    color: #333; /* Establecer el color predeterminado para los enlaces */
  }
  
a:hover {
    color: #555; /* Cambiar el color al pasar el mouse */
  }

ul, ol {
    list-style: none !important;
    padding: 0;
    margin: 0;
  }

/*  Nav Bar   */

nav {
  background-color: #4e4f50;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.menu_container a {
  color: #fff;
  padding: 10px;
  margin: 0 10px;
  transition: color 0.3s;
}

nav a:hover {
  color: #f56161;
}

.logo_container {
  width: 94px;

}

#joab_logo {
  max-width: 100%;
  height: auto;
}